:root 
{
	--altura_cabecera: 	150px;
	--ancho_lateral: 	300px;
	--ancho_contenido: 	850px;

	--fondo_color1: 	#174950;
	--fondo_color2: 	white;
	--fondo_color3: 	gray;

	--fuente_color1: 	gray;
	--fuente_color2: 	#174950;
	--fuente_color3: 	#174950;

}



/* celular secciones */
@media (orientation: portrait)
{

	#body_center
	{
		z-index:			20; 
		position:			absolute; 
		top:				90px; 
		width:				100%;
		height:				10px;
	}
	a{
		font-size:			30px; 
	}
	.formulario{
		font-size:			25px; 
		width: 				100%;
		box-sizing:			border-box;
		border-radius:		6px;
		height:				50px;
	}
	.menu_texto{
		display: 			none;
		overflow: 			hidden;
	}			
	div.menu_imagen{
		width:				auto;
		display:			inline;
	}
	
	div.menu_separador{		
		width: 				50px;
		display:			inline-block ;
	}
	
	img.menu_imagen{		
		width: 				60px;
	}

}

/* computadora secciones */
@media (orientation:landscape)
{
	#body_center
	{
		z-index:			20; 
		position:			absolute; 
		top:				40px; 
		width:				calc(100% - 8px);
		height:				10px;
	}

	a{
		font-size:			15px; 
	}
	.formulario{
		width: 				100%;
		box-sizing:			border-box;
		border-radius:		6px;
		height:				30px;
	}
	.menu_texto{
		display: 			inline-block ;
		
	}			
	div.menu_imagen{
		width:				auto;
		display:			inline;
	}
	
	div.menu_separador{		
		width: 				25px;
		display:			inline-block ;
	}
	
	img.menu_imagen{		
		width: 				20px;
	}

}
